body {
    height: 100vh;
    margin: 0;

    background-color: #000;
    color: #fff;
    font-family: 'DIN Next', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

    accent-color: #777;

    &.split-styles {
        &:before {
            content: '';
            position: absolute;
            inset: 0;
            left: 50%;

            background-color: #fff;
            mix-blend-mode: exclusion;

            pointer-events: none;
            z-index: 200;
        }
    }
}

*::selection {
    background-color: #fff;
    color: #000;
}

@font-face {
    font-family: 'DIN Next';
    src: url(https://f9.limitedrun.com/fonts/503/DINNextLTPro-Medium.woff2)
        format('woff2');
    font-style: normal;
    font-weight: 500;
}

#timer {
    font-size: 15vw;

    pointer-events: none;
    user-select: none;

    &.done {
        font-size: 5em;
    }
}

#hideCursor {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 5em;
    height: 5em;

    cursor: none;
}

#openSettings {
    position: fixed;
    bottom: 1em;
    right: 1em;

    width: 2.5em;
    height: 2.5em;

    background-color: #fff;
    border: 0;

    cursor: pointer;

    transition: opacity 0.25s;
    will-change: opacity;
}

#settings {
    position: fixed;
    inset: 0;
    top: 100%;
    background-color: #000;

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    padding-bottom: 3em;

    &.shown {
        top: 0;
    }

    > * {
        max-width: 90%;
        width: 50rem;
    }

    h1 {
        font-size: 3em;
        text-align: center;

        &:not(:first-of-type) {
            margin-top: 1em;
        }
    }

    input[type='text'],
    input[type='datetime-local'],
    button:not(#closeSettings) {
        background-color: #000;
        color: #fff;
        padding: 0 0.5rem;
        font-size: 1.1rem;
        font-family: 'DIN Next', sans-serif;
        border: 2px solid #fff;
        border-radius: 0.5em;
    }

    input[type='checkbox'] {
        filter: grayscale(100%) invert(100%) brightness(150%);
    }

    button:not(#closeSettings):hover {
        background-color: #222;
        cursor: pointer;
    }

    > button:not(#closeSettings) {
        width: auto;
        padding: 0.75rem 3rem;
        font-size: 1.5em;
    }

    hr {
        background-color: transparent;
        color: transparent;
        border: 1px solid #fff;
        height: 0;
        margin: 1.5em auto;
    }

    > div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5em;

        font-size: 2em;

        > div {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 0.25em;
        }

        button {
            flex: 1;
        }
    }

    #closeSettings {
        position: absolute;
        top: 1em;
        right: 1em;

        width: 2.5em;
        height: 2.5em;

        border: 0;
        background-color: transparent;
        cursor: pointer;

        $width: 0.4em;
        $halfWidth: calc($width / 2);

        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 0;

            width: $width;
            height: 141%;

            background-color: #fff;
            transform-origin: 50% 0;
        }

        &:before {
            left: -$halfWidth;
            transform: rotate(-45deg);
        }

        &:after {
            right: -$halfWidth;
            transform: rotate(45deg);
        }
    }
}

@media (max-width: 480px) {
    #settings {
        input[type='text'],
        input[type='datetime-local'],
        button:not(#closeSettings) {
            padding: 0.5em 0.75em;
        }

        > div {
            display: flex;
            flex-wrap: wrap;

            label {
                width: 100%;
                text-align: center;

                &.checkbox {
                    width: auto;
                    margin-bottom: 1rem;

                    + * {
                        width: auto;
                        flex: 1;
                    }
                }

                + * {
                    width: 100%;
                    margin: 0;
                    margin-bottom: 1rem;
                }
            }

            > div {
                width: 100%;

                > #createSaveName {
                    flex: 0.8;
                }

                > #createSaveButton {
                    flex: 0.2;
                }
            }
        }

        #saves {
            display: grid;
            grid-template-columns: 1fr;
        }

        #closeSettings {
            width: 2em;
            height: 2em;
        }
    }
}
